TELEGRAM_BOT_TOKEN=
RPC_URL=https://zigchain-mainnet.zigscan.net/
WS_URL=wss://zigchain-mainnet.zigscan.net/websocket
VAULT_WALLETS=zig1c7ltk2w9x6nqdkzuv2xp3pcxuqnwcya9ackdxj,zig12q5lshzwywgf4dryhn3tcw0cd2p468hw6w22sh,zig18fxy8zrnpccftn3l4uj98ruajqhfpnwq09cnp8,zig1laq7y7hmkuvracnuxzcgujlhlr0h2tuqekal2m,zig1ssf7peey2gs2m4rwwg9qq6dx0ezq4fkd6wfvg2
NAWA_USDC_WALLET=zig1h029787ganqh9c2up868nhh4gvsrytp0zg9aw5
LOG_LEVEL=info
